/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.flowChartButton {
  background-color: #748CAB;
}

.flowChartNoneButton {
  background-color: #A9D3FF;
}

.flowChartSubmitButton {
  background-color: #376B2A;
}

.ambulaneBGColor {
    background-color: #101010;
}

.backgroundPale {
    background-color: #fef1e1;
}

.textBlue {
    color: #3587b3;
}

.textClickBlue {
    color: #0d5e8c;
}

.bgBlue {
    background-color: #3587b6;
}

.bgClickBlue {
    background-color: #0d5e8c;
}

.bgLightShadow {
    background-color: #e3e2d6;
}

.borderBlueConfirmation {
    --tw-border-opacity: 1;
    border-color: rgba(0, 137, 185, var(--tw-border-opacity)) 
}

.recording {
    /* Add any styles you want for the button when recording */
    /* Example: */
    background-color: #f00; /* Red background */
}
  
.recording-dot {
display: inline-block;
width: 12px;
height: 12px;
background-color: red;
border-radius: 50%;
margin-left: 5px; /* Adjust spacing as needed */
}