/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.flowChartButton {
  background-color: #748CAB;
}

.flowChartNoneButton {
  background-color: #A9D3FF;
}

.flowChartSubmitButton {
  background-color: #376B2A;
}

.ambulaneBGColor {
    background-color: #101010;
}

.backgroundPale {
    background-color: #fbeedb;
}

.textBlue {
    color: #3587b3;
}

.textClickBlue {
    color: #0d5e8c;
}

.bgBlue {
    background-color: #3587b6;
}

.bgClickBlue {
    background-color: #0d5e8c;
}
